xsd/caad.003.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Platform on 2026 Feb 19 15:14:25-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caad.003.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caad.003.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="ATICALaxProcessing">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATICAPartyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ICCA"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="WLPR"/>
            <xs:enumeration value="PASP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Address4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Line1" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Line2" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcLctn" type="GeographicPointInDecimalDegreesText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BatchTransferInitiationV04">
        <xs:sequence>
            <xs:element name="Hdr" type="Header72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchId" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBtchId" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfMsgs" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchChcksm" type="Max35Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqAck" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="OriginatorData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="DestinationData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prgrmm" type="ProgrammeMode6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclId" type="Exact15Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClrBtchData" type="ClearingBatchData4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrCtrlTtls" type="ClearingControlTotals3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rcrd" type="Record4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Jursdctn" type="Jurisdiction2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvc" type="SettlementService7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="Reconciliation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRspnCd" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgRslt" type="ProcessingResult32"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtctdData" type="EncryptedData2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType41"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingBatchData4">
        <xs:sequence>
            <xs:element name="Mtd" type="ClearingMethod3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlsCnt" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlsAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlsCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlsCdtDbt" type="CreditDebit3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngFeeAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngFeeCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngFeeCdtDbt" type="CreditDebit3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtFeeAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtFeeCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtFeeCdtDbt" type="CreditDebit3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingControlTotals3">
        <xs:sequence>
            <xs:element name="Cnt" type="Number"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebit3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ClearingMethod3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYC"/>
            <xs:enumeration value="DFRD"/>
            <xs:enumeration value="INST"/>
            <xs:enumeration value="RLTM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContentInformationType41">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebit3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DestinationData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BtchTrfInitn" type="BatchTransferInitiationV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdFrmt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdElmt" type="EncryptedDataElement2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2Choice">
        <xs:choice>
            <xs:element name="Binry" type="Max100KBinary"/>
            <xs:element name="HexBinry" type="Max9999HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptedDataElement2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Data" type="EncryptedData2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClearTxtFrmt" type="EncryptedDataFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrClearTxtFrmt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptedDataFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCI"/>
            <xs:enumeration value="BINF"/>
            <xs:enumeration value="EBCD"/>
            <xs:enumeration value="HEXF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact12Text">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact15Text">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMessageFunction1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GeographicPointInDecimalDegreesText">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\+|-)?[\d]{1,3}(\.[\d]{1,8})?/(\+|-)?[\d]{1,3}(\.[\d]{1,8})?"/>
            <xs:maxLength value="27"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Header72">
        <xs:sequence>
            <xs:element name="MsgFctn" type="ExternalMessageFunction1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgChcksmInptVal" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583ActionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583ResponseCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOCountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ACountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Jurisdiction2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstQlfctn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Line1" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Line2" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max100Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData20">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max11NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,15}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max200Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2MBBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="2097152"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9999HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,9999}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginatorData2">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherAmount5">
        <xs:sequence>
            <xs:element name="ClrCnt" type="Number"/>
            <xs:element name="ClrAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrCdtDbt" type="CreditDebit3Code"/>
            <xs:element name="IntrchngFeeAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngFeeCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngFeeCdtDbt" type="CreditDebit3Code"/>
            <xs:element name="AgtFeeAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtFeeCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtFeeCdtDbt" type="CreditDebit3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingResult32">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcTp" type="ATICAPartyType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcCtry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnCd" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnCd" type="ISO8583ActionCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProgrammeMode6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PropsdId" type="Max35Text"/>
            <xs:element name="ApldId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reconciliation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Record4">
        <xs:sequence>
            <xs:element name="SeqCntr" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcrdChcksmInptVal" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrAssgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrCtry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstnAssgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstnCtry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstnShrtNm" type="Max35Text"/>
            <xs:element name="ClrMtd" type="ClearingMethod3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrPrty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrCdtDbt" type="CreditDebit3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngFeeAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngFeeCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrchngFeeCdtDbt" type="CreditDebit3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtFeeAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtFeeCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtFeeCdtDbt" type="CreditDebit3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAmt" type="OtherAmount5"/>
            <xs:element name="RcrdMsg" type="RecordMessage2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RecordMessage2Choice">
        <xs:choice>
            <xs:element name="AdddmInitn" type="Max2MBBinary"/>
            <xs:element name="AdddmRspn" type="Max2MBBinary"/>
            <xs:element name="Amdmnt" type="Max2MBBinary"/>
            <xs:element name="AuthstnInitn" type="Max2MBBinary"/>
            <xs:element name="AuthstnRspn" type="Max2MBBinary"/>
            <xs:element name="CardMgmtInitn" type="Max2MBBinary"/>
            <xs:element name="CardMgmtRspn" type="Max2MBBinary"/>
            <xs:element name="ChrgBckInitn" type="Max2MBBinary"/>
            <xs:element name="ChrgBckRspn" type="Max2MBBinary"/>
            <xs:element name="Err" type="Max2MBBinary"/>
            <xs:element name="FeeColltnInitn" type="Max2MBBinary"/>
            <xs:element name="FeeColltnRspn" type="Max2MBBinary"/>
            <xs:element name="FileActnInitn" type="Max2MBBinary"/>
            <xs:element name="FileActnRspn" type="Max2MBBinary"/>
            <xs:element name="FinInitn" type="Max2MBBinary"/>
            <xs:element name="FinRspn" type="Max2MBBinary"/>
            <xs:element name="FrdDspstnInitn" type="Max2MBBinary"/>
            <xs:element name="FrdDspstnRspn" type="Max2MBBinary"/>
            <xs:element name="FrdRptgInitn" type="Max2MBBinary"/>
            <xs:element name="FrdRptgRspn" type="Max2MBBinary"/>
            <xs:element name="NqryVrfctnInitn" type="Max2MBBinary"/>
            <xs:element name="NqryVrfctnRspn" type="Max2MBBinary"/>
            <xs:element name="KeyXchgInitn" type="Max2MBBinary"/>
            <xs:element name="KeyXchgRspn" type="Max2MBBinary"/>
            <xs:element name="NtwkMgmtInitn" type="Max2MBBinary"/>
            <xs:element name="NtwkMgmtRspn" type="Max2MBBinary"/>
            <xs:element name="RcncltnInitn" type="Max2MBBinary"/>
            <xs:element name="RcncltnRspn" type="Max2MBBinary"/>
            <xs:element name="RtrvlInitn" type="Max2MBBinary"/>
            <xs:element name="RtrvlRspn" type="Max2MBBinary"/>
            <xs:element name="RtrvlFlfmtInitn" type="Max2MBBinary"/>
            <xs:element name="RtrvlFlfmtRspn" type="Max2MBBinary"/>
            <xs:element name="RvslInitn" type="Max2MBBinary"/>
            <xs:element name="RvslRspn" type="Max2MBBinary"/>
            <xs:element name="SttlmRptgInitn" type="Max2MBBinary"/>
            <xs:element name="SttlmRptgRspn" type="Max2MBBinary"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementService7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfrrdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CutOffTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
