xsd/cafc.002.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Platform on 2026 Feb 19 15:14:25-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cafc.002.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cafc.002.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="ATICALaxProcessing">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATICAPartyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ICCA"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="WLPR"/>
            <xs:enumeration value="PASP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AcceptorData2">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeAssgndId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmittdAdr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldAdr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizRegnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizRegnIdTp" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxRefNb" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtnrId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalAmounts5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctTp" type="ISO8583AccountTypeCode"/>
            <xs:element name="Tp" type="ISO8583AmountTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebit3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalFee4">
        <xs:sequence>
            <xs:element name="Tp" type="ISO8583FeeTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prgm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dscrptr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateFix" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebit3Code"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnFctvXchgRate" type="BaseOne25Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="ATICAPartyType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Line1" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Line2" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcLctn" type="GeographicPointInDecimalDegreesText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOne25Rate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardData14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PAN" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType41">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Context29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntCtgyCd" type="ISO18245MerchantCategoryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntCtgySpcfcData" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMrchntCtgy" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="POSCondCd" type="ISO8583POSConditionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxInitr" type="TransactionInitiator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DelydChrgs" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NoShow" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Reauthstn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReSubmissn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlShipmnt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebit3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTime2">
        <xs:sequence>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DestinationData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedAmount24">
        <xs:sequence>
            <xs:element name="Tp" type="ISO8583AmountTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebit3Code"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FeeColltnRspn" type="FeeCollectionResponseV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdFrmt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdElmt" type="EncryptedDataElement2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2Choice">
        <xs:choice>
            <xs:element name="Binry" type="Max100KBinary"/>
            <xs:element name="HexBinry" type="Max9999HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptedDataElement2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Data" type="EncryptedData2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClearTxtFrmt" type="EncryptedDataFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrClearTxtFrmt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptedDataFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCI"/>
            <xs:enumeration value="BINF"/>
            <xs:enumeration value="EBCD"/>
            <xs:enumeration value="HEXF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ErrorDetails4">
        <xs:sequence>
            <xs:element name="ErrCd" type="ISO8583MessageErrorCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="svrtyCd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max500Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DataElmtInErr" type="Max4000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact12Text">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact15Text">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact6AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9\s]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMessageFunction1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalTransactorType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FeeCollectionReference3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AssgnrNtty" type="ATICAPartyType1Code"/>
            <xs:element name="Id" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FeeCollectionResponseV04">
        <xs:sequence>
            <xs:element name="Hdr" type="Header72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxChrtcs" type="TransactionCharacteristics7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="OriginatorData2"/>
            <xs:element name="Acqrr" type="AcquirerData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sndr" type="SenderData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="CardData14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvr" type="ReceiverData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="IssuerData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="DestinationData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prgrmm" type="ProgrammeMode6"/>
            <xs:element name="TxId" type="TransactionIdentification58"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDtTm" type="DateTime2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Accptr" type="AcceptorData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Txtr" type="TransactorData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntxt" type="Context29"/>
            <xs:element name="TxAmts" type="TransactionAmounts5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlAmt" type="AdditionalAmounts5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlDataElmts" type="OriginalDataElements6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FeeColltnRef" type="FeeCollectionReference3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Token5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpclPrgrmmQlfctn" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Jursdctn" type="Jurisdiction2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvc" type="SettlementService7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFee" type="AdditionalFee4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="Reconciliation5"/>
            <xs:element name="PrcgRslt" type="ProcessingResult30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtctdData" type="EncryptedData2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType41"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GeographicPointInDecimalDegreesText">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\+|-)?[\d]{1,3}(\.[\d]{1,8})?/(\+|-)?[\d]{1,3}(\.[\d]{1,8})?"/>
            <xs:maxLength value="27"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Header72">
        <xs:sequence>
            <xs:element name="MsgFctn" type="ExternalMessageFunction1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgChcksmInptVal" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO18245MerchantCategoryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583AccountTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583ActionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583AmountTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583FeeTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583MessageErrorCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583MessageReasonCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583POSConditionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583ResponseCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583TransactionTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOCountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ACountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Jurisdiction2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstQlfctn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LifeCycleSupport1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="FINC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LocalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Line1" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Line2" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max100Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData18">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData20">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData22">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element name="TxDesc" type="Max2000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max11NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,15}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max19NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,19}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max200Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max23NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max36Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max37Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="37"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9999HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,9999}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageClass2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDE"/>
            <xs:enumeration value="AMDT"/>
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="CMGT"/>
            <xs:enumeration value="CBCK"/>
            <xs:enumeration value="FEEC"/>
            <xs:enumeration value="FINL"/>
            <xs:enumeration value="INVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADVC"/>
            <xs:enumeration value="NOTI"/>
            <xs:enumeration value="CAAD"/>
            <xs:enumeration value="CANO"/>
            <xs:enumeration value="REQU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalDataElements6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgClss" type="MessageClass2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgFctn" type="MessageFunction16Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SndrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTp" type="ISO8583TransactionTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="OriginalTransactionIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDtTm" type="DateTime2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxAmts" type="OriginalTransactionAmounts4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFee" type="AdditionalFee4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnCd" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvlCd" type="Exact6AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfrrdSttlmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalTransactionAmounts4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtQlfr" type="TypeOfAmount22Code"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgFctvXchgRate" type="BaseOne25Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnFctvXchgRate" type="BaseOne25Rate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalTransactionIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LclDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsIdrTp" type="PurchaseIdentifierType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsIdr" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclSpprt" type="LifeCycleSupport1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclId" type="Exact15Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqCnt" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnTkn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclIdMssng" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefNb" type="Max23NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrRefData" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginatorData2">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingResult30">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcTp" type="ATICAPartyType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcCtry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcNm" type="Max35Text"/>
            <xs:element name="RspnCd" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnCd" type="ISO8583ActionCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ErrDtl" type="ErrorDetails4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProgrammeMode6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PropsdId" type="Max35Text"/>
            <xs:element name="ApldId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProtectionMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SELM"/>
            <xs:enumeration value="SNCL"/>
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="TEEN"/>
            <xs:enumeration value="TPMD"/>
            <xs:enumeration value="VTEE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PurchaseIdentifierType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUIN"/>
            <xs:enumeration value="RELO"/>
            <xs:enumeration value="INNU"/>
            <xs:enumeration value="PUID"/>
            <xs:enumeration value="RENU"/>
            <xs:enumeration value="RSNU"/>
            <xs:enumeration value="TINU"/>
            <xs:enumeration value="SUOR"/>
            <xs:enumeration value="CONU"/>
            <xs:enumeration value="FONU"/>
            <xs:enumeration value="PRNU"/>
            <xs:enumeration value="ORNU"/>
            <xs:enumeration value="CUOR"/>
            <xs:enumeration value="CUPO"/>
            <xs:enumeration value="REAG"/>
            <xs:enumeration value="TRNU"/>
            <xs:enumeration value="TREF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReceiverData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reconciliation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SenderData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementService7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfrrdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CutOffTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StorageLocation2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAWL"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="ISWL"/>
            <xs:enumeration value="ONFL"/>
            <xs:enumeration value="TPWL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubMerchant1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frgn" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcLctn" type="GeographicPointInDecimalDegreesText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Token4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRefId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Token5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknTp" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRefId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknInittdInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StorgLctn" type="StorageLocation2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcnMtd" type="ProtectionMethod2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonPmt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdtdChanl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknActvtnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTkn" type="Token4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionAmounts5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtQlfr" type="TypeOfAmount22Code"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrBllgFctvXchgRate" type="BaseOne25Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnFctvXchgRate" type="BaseOne25Rate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DtldAmt" type="DetailedAmount24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionCharacteristics7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTp" type="ISO8583TransactionTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxSubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cxl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgRsn" type="ISO8583MessageReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnMsgRsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeColltnCycl" type="Exact1NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDesc" type="Max1000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData22"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification58">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LclDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsIdrTp" type="PurchaseIdentifierType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsIdr" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclSpprt" type="LifeCycleSupport1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclId" type="Max36Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AssoctdTxLifeCyclId" type="Max36Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclIdVldtn" type="Max37Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqCnt" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnTkn" type="Max36Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclIdMssng" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefNb" type="Max23NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrRefData" type="Max1000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AssoctdData" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AssoctdDataRef" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AssoctdDataDstn" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionInitiator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="CUST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactorData1">
        <xs:sequence>
            <xs:element name="Tp" type="ExternalTransactorType1Code"/>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubMrchnt" type="SubMerchant1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount22Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTL"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="DPST"/>
            <xs:enumeration value="ESTM"/>
            <xs:enumeration value="MAXI"/>
            <xs:enumeration value="PRXY"/>
            <xs:enumeration value="RESD"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
