xsd/cafm.001.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Platform on 2026 Feb 19 15:14:25-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cafm.001.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cafm.001.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="ATICALaxProcessing">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATICAPartyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ICCA"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="WLPR"/>
            <xs:enumeration value="PASP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AcceptorData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeAssgndId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndLctn" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrSvc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtct" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizRegnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizRegnIdTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpTaxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpTaxIdTp" type="CorporateTaxType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizTpPrvddBy" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrTpPrvddBy" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnTpPrvddBy" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrEthnctyTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OwnrEthnctyTpPrvddBy" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalFee4">
        <xs:sequence>
            <xs:element name="Tp" type="ISO8583FeeTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prgm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dscrptr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateFix" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebit3Code"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnFctvXchgRate" type="BaseOne25Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="ATICAPartyType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Line1" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Line2" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcLctn" type="GeographicPointInDecimalDegreesText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Authority1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max50Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOne25Rate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardData17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PAN" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdPAN" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck3" type="Max104Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANAcctRg" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANRefIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANFourLastDgts" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctSubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brnd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctFndgSrc" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgmt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Schme" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardDataReading11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICPY"/>
            <xs:enumeration value="MGSP"/>
            <xs:enumeration value="MICR"/>
            <xs:enumeration value="MLEY"/>
            <xs:enumeration value="OCRR"/>
            <xs:enumeration value="MSIP"/>
            <xs:enumeration value="OPTC"/>
            <xs:enumeration value="RFID"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="KEEN"/>
            <xs:enumeration value="CDFS"/>
            <xs:enumeration value="CDFL"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="NFCF"/>
            <xs:enumeration value="ICCY"/>
            <xs:enumeration value="ICCP"/>
            <xs:enumeration value="ICMG"/>
            <xs:enumeration value="ICFM"/>
            <xs:enumeration value="DCPY"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataReading12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNKW"/>
            <xs:enumeration value="CAMR"/>
            <xs:enumeration value="KEEN"/>
            <xs:enumeration value="ICPY"/>
            <xs:enumeration value="OPTC"/>
            <xs:enumeration value="CDFL"/>
            <xs:enumeration value="MBNK"/>
            <xs:enumeration value="TOKN"/>
            <xs:enumeration value="ICCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataWriting2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICPY"/>
            <xs:enumeration value="MGSP"/>
            <xs:enumeration value="ICCP"/>
            <xs:enumeration value="MSIP"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="ICCY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Cardholder23">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Id" type="Credentials3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BllgAdr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmprssdAdr" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ShppgAdr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctInf" type="ContactPersonal2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfBirth" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HghVal" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AliasNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ocptn" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardholderName2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardholderVerificationCapability6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APKI"/>
            <xs:enumeration value="NOVF"/>
            <xs:enumeration value="FBIG"/>
            <xs:enumeration value="FBIO"/>
            <xs:enumeration value="FDSG"/>
            <xs:enumeration value="FCPN"/>
            <xs:enumeration value="FEPN"/>
            <xs:enumeration value="NBIO"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="VORN"/>
            <xs:enumeration value="PKIS"/>
            <xs:enumeration value="NOPN"/>
            <xs:enumeration value="NOOP"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactPersonal2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HomePhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnlEmail" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizEmail" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrEmail" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HomeFax" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizFax" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="ISO2ALanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType41">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateTaxType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SMBS"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CORP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorrectionIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ind" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Credentials3">
        <xs:sequence>
            <xs:element name="Tp" type="ExternalAuthenticationMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTp" type="Max35Text"/>
            <xs:element name="Val" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Authority1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebit3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CustomerDevice6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Manfctr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ManfctrMdlId" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ExternalCustomerDeviceType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="ISO2ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcLctn" type="GeographicPointInDecimalDegreesText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LctnCtryCd" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IPAdr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvcNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvcNmNrmlzd" type="Max100Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DvcId" type="DeviceIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OprgSysId" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OprgSysTp" type="ExternalDeviceOperatingSystemType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OprgSysVrsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OprgSysBld" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prvdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcLctnSrc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvcTmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DvcTmZoneSrc" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DestinationData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeviceIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="DeviceIdentificationType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DeviceIdentificationType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IMEI"/>
            <xs:enumeration value="SEID"/>
            <xs:enumeration value="SENU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DisplayCapabilities6">
        <xs:sequence>
            <xs:element name="Dstn" type="UserInterface1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblFrmt" type="OutputFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfLines" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LineWidth" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AvlblLang" type="LanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FileActnInitn" type="FileActionInitiationV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdFrmt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdElmt" type="EncryptedDataElement2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2Choice">
        <xs:choice>
            <xs:element name="Binry" type="Max100KBinary"/>
            <xs:element name="HexBinry" type="Max9999HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptedDataElement2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Data" type="EncryptedData2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClearTxtFrmt" type="EncryptedDataFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrClearTxtFrmt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptedDataFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCI"/>
            <xs:enumeration value="BINF"/>
            <xs:enumeration value="EBCD"/>
            <xs:enumeration value="HEXF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact12Text">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact15Text">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAuthenticationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCustomerDeviceType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDeviceOperatingSystemType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMessageFunction1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FileActionInitiationV04">
        <xs:sequence>
            <xs:element name="Hdr" type="Header72"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgRsn" type="ISO8583MessageReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnMsgRsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FileActnScp" type="FileActionScope1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FileActnTp" type="FileActionType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDesc" type="Max1000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Conttn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="OriginatorData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="AcquirerData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sndr" type="SenderData1"/>
            <xs:element name="Card" type="CardData17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvr" type="ReceiverData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="IssuerData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="DestinationData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prgrmm" type="ProgrammeMode6"/>
            <xs:element name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclId" type="Exact15Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FileNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="OutputFormat7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DataRcrd" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FileSctyCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Crrctn" type="CorrectionIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Accptr" type="AcceptorData3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Termnl" type="Terminal10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="POICmpnt" type="PointOfInteractionComponent16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pyer" type="PayerData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pyee" type="PayeeData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Token5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrDvc" type="CustomerDevice6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wllt" type="Wallet4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Crdhldr" type="Cardholder23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Jursdctn" type="Jurisdiction2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvc" type="SettlementService7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFee" type="AdditionalFee4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="Reconciliation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnCd" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtctdData" type="EncryptedData2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType41"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FileActionScope1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="RECD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FileActionType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDD"/>
            <xs:enumeration value="BRPT"/>
            <xs:enumeration value="DELT"/>
            <xs:enumeration value="DLSP"/>
            <xs:enumeration value="ENQR"/>
            <xs:enumeration value="REPL"/>
            <xs:enumeration value="REQU"/>
            <xs:enumeration value="UPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitution10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phne" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrSvc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtct" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Frequency12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="FRTN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GeographicPointInDecimalDegreesText">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\+|-)?[\d]{1,3}(\.[\d]{1,8})?/(\+|-)?[\d]{1,3}(\.[\d]{1,8})?"/>
            <xs:maxLength value="27"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Header72">
        <xs:sequence>
            <xs:element name="MsgFctn" type="ExternalMessageFunction1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgChcksmInptVal" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583AccountEntryDeviceTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583AccountIdentifierTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583FeeTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583MessageReasonCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583PINEntryCapabilityCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583ResponseCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOCountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ACountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Jurisdiction2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstQlfctn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="LocalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine1" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine2" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max100Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Line1" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Line2" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max100Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData10">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtct" type="Max512Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData19">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndLctn" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcLctn" type="LocalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlAdr" type="Max512Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtct" type="Max512Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData20">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData21">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CardholderName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AliasNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ocptn" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData24">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CardholderName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AliasNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ocptn" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ShppgAdr" type="LocalAddress1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max104Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="104"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="10"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max11NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,15}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max19NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,19}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max200Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max512Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="5"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9999HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,9999}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OnLineCapability2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OFLN"/>
            <xs:enumeration value="ONLN"/>
            <xs:enumeration value="BOTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginatorData2">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OutputFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OutputFormat7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="URLI"/>
            <xs:enumeration value="HTML"/>
            <xs:enumeration value="PLIN"/>
            <xs:enumeration value="JSON"/>
            <xs:enumeration value="XMLF"/>
            <xs:enumeration value="EDIF"/>
            <xs:enumeration value="CSVF"/>
            <xs:enumeration value="JPEG"/>
            <xs:enumeration value="PDFF"/>
            <xs:enumeration value="PNGF"/>
            <xs:enumeration value="SVGF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AQPP"/>
            <xs:enumeration value="APPR"/>
            <xs:enumeration value="TLPR"/>
            <xs:enumeration value="SCPR"/>
            <xs:enumeration value="SERV"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="APLI"/>
            <xs:enumeration value="EMVK"/>
            <xs:enumeration value="EMVO"/>
            <xs:enumeration value="MDWR"/>
            <xs:enumeration value="DRVR"/>
            <xs:enumeration value="OPST"/>
            <xs:enumeration value="MRPR"/>
            <xs:enumeration value="CRTF"/>
            <xs:enumeration value="TMSP"/>
            <xs:enumeration value="SACP"/>
            <xs:enumeration value="SAPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PayeeData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FI" type="FinancialInstitution10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyTp" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdrTp" type="ISO8583AccountIdentifierTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdr" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Crdntls" type="Credentials3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctct" type="ContactPersonal2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfBirth" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AliasNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ocptn" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData21"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayerData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FI" type="FinancialInstitution10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyTp" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdrTp" type="ISO8583AccountIdentifierTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdr" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Crdntls" type="Credentials3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctct" type="ContactPersonal2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfBirth" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AliasNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ocptn" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData21"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PointOfInteractionComponent16">
        <xs:sequence>
            <xs:element name="Tp" type="POIComponentType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProgrammeMode6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PropsdId" type="Max35Text"/>
            <xs:element name="ApldId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProtectionMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SELM"/>
            <xs:enumeration value="SNCL"/>
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="TEEN"/>
            <xs:enumeration value="TPMD"/>
            <xs:enumeration value="VTEE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReceiverData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reconciliation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RiskAssessment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPC"/>
            <xs:enumeration value="APPH"/>
            <xs:enumeration value="APPU"/>
            <xs:enumeration value="DONT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SenderData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementService7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfrrdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CutOffTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Software2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="SoftwareType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SoftwareType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MFFW"/>
            <xs:enumeration value="MFSW"/>
            <xs:enumeration value="APSW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StorageLocation2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAWL"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="ISWL"/>
            <xs:enumeration value="ONFL"/>
            <xs:enumeration value="TPWL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Terminal10">
        <xs:sequence>
            <xs:element name="Id" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="TerminalType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTp" type="ISO8583AccountEntryDeviceTypeCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RdngCpblty" type="CardDataReading11Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WrtgCpblty" type="CardDataWriting2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PINLngthCpblty" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PINNtryCpblty" type="ISO8583PINEntryCapabilityCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvlCdLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MxScrptLngth" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCaptrCpbl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCpblty" type="OnLineCapability2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgCpblty" type="DisplayCapabilities6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CrdhldrVrfctnCpblty" type="CardholderVerificationCapability6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TempScrStorg" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntgtnTp" type="TerminalIntegrationCategory1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcLctn" type="GeographicPointInDecimalDegreesText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Outdr" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OffPrmiss" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OnBrd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sftwr" type="Software2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnId" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermnlLineNcrptnCertfd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqKeyPerTermnlCertfd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnMtd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SnglTap" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TerminalIntegrationCategory1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MPOI"/>
            <xs:enumeration value="MSLE"/>
            <xs:enumeration value="SSLE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TerminalType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATMT"/>
            <xs:enumeration value="MPOS"/>
            <xs:enumeration value="POST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Token4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRefId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Token5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknTp" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRefId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknInittdInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StorgLctn" type="StorageLocation2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcnMtd" type="ProtectionMethod2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonPmt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdtdChanl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknActvtnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTkn" type="Token4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UserInterface1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDSP"/>
            <xs:enumeration value="CRCP"/>
            <xs:enumeration value="MDSP"/>
            <xs:enumeration value="MRCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Wallet4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrBizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrLglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrAdr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvdrLclData" type="LocalData20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrAcctAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DaysSncLastActvty" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Actvty" type="Max10PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvtyIntrvl" type="Frequency12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastWlltChng" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SspdCrds" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctCtry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataNtryMd" type="CardDataReading12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctEmailAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrRskAssmnt" type="RiskAssessment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrRskAssmntMdlVrsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrPhneScore" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrDvcScore" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrAcctScore" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrRsnCd" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
