xsd/cain.015.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2024 Jul 16 17:02:31, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cain.015.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cain.015.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtls" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalFee3">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount21Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prgm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dscrptr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebit3Code"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnFctvXchgRate" type="BaseOne25Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType32Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAssgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine1" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine2" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm23Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
            <xs:enumeration value="EA2R"/>
            <xs:enumeration value="EA9R"/>
            <xs:enumeration value="EA5R"/>
            <xs:enumeration value="E3DR"/>
            <xs:enumeration value="E36C"/>
            <xs:enumeration value="E36R"/>
            <xs:enumeration value="SD5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification25">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm23Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification26">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Algorithm5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification27">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification28">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Authority1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max50Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOne25Rate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BatchManagementInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max35Text"/>
            <xs:element name="BtchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgChcksmInptVal" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardData13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PAN" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdPAN" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck2" type="Track2Data1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANAcctRg" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryCd" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctSubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflIdr" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlCardData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardDataReading10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICPY"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="ICCY"/>
            <xs:enumeration value="MICR"/>
            <xs:enumeration value="MLEY"/>
            <xs:enumeration value="OCRR"/>
            <xs:enumeration value="MSIP"/>
            <xs:enumeration value="OPTC"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="RFID"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="KEEN"/>
            <xs:enumeration value="DFLE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataReading9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNKW"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="CAMR"/>
            <xs:enumeration value="KEEN"/>
            <xs:enumeration value="ICPY"/>
            <xs:enumeration value="OPTC"/>
            <xs:enumeration value="CDFL"/>
            <xs:enumeration value="MBNK"/>
            <xs:enumeration value="TOKN"/>
            <xs:enumeration value="ICCY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardholderName2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardholderName3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactBusiness1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrprtyPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TollFreePhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Fax" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="ISO2ALanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactPersonal1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HomePhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnlEmail" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizEmail" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrEmail" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HomeFax" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizFax" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="ISO2ALanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType41">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ContentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="IFSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Context24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataNtryMd" type="CardDataReading10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCardDataNtryMd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QRCdPresntmntMd" type="QRCodePresentmentMode1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrQRCdPresntmntMd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntCtgyCd" type="ISO18245MerchantCategoryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntCtgySpcfcData" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMrchntCtgy" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrActvtd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnspndrInittd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trnst" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Attndd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UattnddLvlCtgy" type="Max35NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EComrc" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EComrcIndPropsd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EComrcIndApld" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EComrcData" type="ECommerceData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MOTOCd" type="MOTO2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxInitr" type="TransactionInitiator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DelydChrgs" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NoShow" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Reauthstn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReSubmissn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DelydAuthstn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LatePresntmnt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfrrdDlvry" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlShipmnt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpltPmt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlApprvlSpprtd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctyChrtcs" type="SecurityCharacteristics1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrSctyChrtcs" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StorgLctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnOutg" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtCrdntlMrchntRltsh" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CaptrDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAntcptd" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodsAndSvcsTp" type="GoodsAndServices1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodAndSvcsSubTp" type="GoodsAndServicesSubType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodAndSvcsOthrSubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodAndSvcDlvryChanl" type="GoodAndServiceDeliveryChannel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrGoodAndSvcDlvryChanl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodAndSvcDlvrySchdl" type="GoodAndServiceDeliverySchedule1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrGoodAndSvcDlvrySchdl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RctReq" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RctTp" type="ReceiptType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RctDstn" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Credentials3">
        <xs:sequence>
            <xs:element name="Tp" type="ExternalAuthenticationMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTp" type="Max35Text"/>
            <xs:element name="Val" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Authority1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebit3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTime2">
        <xs:sequence>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisputeData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cycl" type="Exact1NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cond" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ref" type="DisputeReference1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DcmnttnSts" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RjctRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgbckElgblty" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisputeIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Id" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisputeReference1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AssgnrNtty" type="PartyType32Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAssgnrNtty" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DsptId" type="DisputeIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrvlFlfmtRspn" type="RetrievalFulfilmentResponseV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ECommerceData1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent8">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification25"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdDataElmt" type="EncryptedDataElement2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdFrmt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdElmt" type="EncryptedDataElement2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2Choice">
        <xs:choice>
            <xs:element name="Binry" type="Max100KBinary"/>
            <xs:element name="HexBinry" type="Max9999HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptedDataElement2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Data" type="EncryptedData2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClearTxtFrmt" type="EncryptedDataFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrClearTxtFrmt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptedDataFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCI"/>
            <xs:enumeration value="BINF"/>
            <xs:enumeration value="EBCD"/>
            <xs:enumeration value="HEXF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncryptionFormat3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR34"/>
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="CTCE"/>
            <xs:enumeration value="CBCE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorDetails3">
        <xs:sequence>
            <xs:element name="Tp" type="MessageError1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max500Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DataElmtInErr" type="Max4000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact12Text">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact15Text">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAuthenticationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMessageFunction1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitution8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phne" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrSvc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtct" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Frequency12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="FRTN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification183">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GoodAndServiceDeliveryChannel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EDEL"/>
            <xs:enumeration value="PULC"/>
            <xs:enumeration value="NDEL"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SCBA"/>
            <xs:enumeration value="SCSA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GoodAndServiceDeliverySchedule1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="ONDL"/>
            <xs:enumeration value="SDDL"/>
            <xs:enumeration value="TDDL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GoodsAndServices1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="ELPH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GoodsAndServicesSubType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRCU"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SECS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Header71">
        <xs:sequence>
            <xs:element name="MsgFctn" type="ExternalMessageFunction1Code"/>
            <xs:element name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchMgmtInf" type="BatchManagementInformation1"/>
            <xs:element name="InitgPty" type="GenericIdentification183"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification183"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TracData" type="AdditionalData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO18245MerchantCategoryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583MessageReasonCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583ResponseCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583TransactionTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOCountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ACountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Jurisdiction2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstQlfctn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier6"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier6">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification27"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LifeCycleSupport1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="FINC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LocalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine1" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine2" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max100Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData10">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtct" type="Max512Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData14">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData15">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CardholderName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MOTO2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAOR"/>
            <xs:enumeration value="MOTO"/>
            <xs:enumeration value="TPOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="10"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max11NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max19HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,19}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max19NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,19}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max200Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20KText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max23NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max37Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="37"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max512Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="5"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9999HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,9999}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageError1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IDEF"/>
            <xs:enumeration value="IDEL"/>
            <xs:enumeration value="IDEV"/>
            <xs:enumeration value="INME"/>
            <xs:enumeration value="INMF"/>
            <xs:enumeration value="MEPE"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="PRVE"/>
            <xs:enumeration value="RDEM"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="UDFD"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="ITDE"/>
            <xs:enumeration value="DUME"/>
            <xs:enumeration value="IDWM"/>
            <xs:enumeration value="IDRM"/>
            <xs:enumeration value="IBAT"/>
            <xs:enumeration value="ICOL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OutputFormat4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLNM"/>
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SMSI"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="URLI"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm20Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification285">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlId" type="AdditionalData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification286">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlId" type="AdditionalData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification287">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FI" type="FinancialInstitution8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Crdntls" type="Credentials3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CardholderName3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctct" type="ContactPersonal1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfBirth" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData15"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType19Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType26Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ICCA"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType32Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="ISUR"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="SCHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingResult23">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcTp" type="PartyType26Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcOthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcAssgnr" type="PartyType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcCtry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcShrtNm" type="Max35Text"/>
            <xs:element name="RspnCd" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ErrDtl" type="ErrorDetails3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProgrammeMode5">
        <xs:sequence>
            <xs:element name="ApldId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlId" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProtectedData2">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdData" type="EncryptedData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProtectionMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SELM"/>
            <xs:enumeration value="SNCL"/>
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="TEEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PurchaseIdentifierType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SUIN"/>
            <xs:enumeration value="RELO"/>
            <xs:enumeration value="INNU"/>
            <xs:enumeration value="PUID"/>
            <xs:enumeration value="RENU"/>
            <xs:enumeration value="RSNU"/>
            <xs:enumeration value="TINU"/>
            <xs:enumeration value="SUOR"/>
            <xs:enumeration value="CONU"/>
            <xs:enumeration value="FONU"/>
            <xs:enumeration value="PRNU"/>
            <xs:enumeration value="ORNU"/>
            <xs:enumeration value="CUOR"/>
            <xs:enumeration value="CUPO"/>
            <xs:enumeration value="REAG"/>
            <xs:enumeration value="TRNU"/>
            <xs:enumeration value="TREF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QRCodePresentmentMode1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CPMD"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="MPMD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReceiptType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PAPR"/>
            <xs:enumeration value="SMSM"/>
            <xs:enumeration value="URID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient7Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport6"/>
            <xs:element name="KEK" type="KEK6"/>
            <xs:element name="KeyIdr" type="KEKIdentifier6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Reconciliation4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RetrievalFulfilmentInstructions3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ReqdMtd" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EstblishdMtd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActlDlvryMtd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctct" type="ContactBusiness1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="Address2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcpt" type="PartyType19Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Trgt" type="UserInterface8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="OutputFormat4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Val" type="Max20KText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RetrievalFulfilmentResponseV03">
        <xs:sequence>
            <xs:element name="Hdr" type="Header71"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxChrtcs" type="TransactionCharacteristics3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="PartyIdentification286"/>
            <xs:element name="Acqrr" type="PartyIdentification286"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sndr" type="PartyIdentification286"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="CardData13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvr" type="PartyIdentification286"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyIdentification286"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="PartyIdentification286"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prgrmm" type="ProgrammeMode5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="TransactionIdentification54"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDtTm" type="DateTime2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Accptr" type="PartyIdentification285"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Termnl" type="Terminal8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntxt" type="Context24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pyer" type="PartyIdentification287"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pyee" type="PartyIdentification287"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Token2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wllt" type="Wallet3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpclPrgrmmQlfctn" type="SpecialProgrammeQualification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Jursdctn" type="Jurisdiction2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvc" type="SettlementService6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFee" type="AdditionalFee3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="Reconciliation4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DsptData" type="DisputeData4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RtrvlFlfmtInstrs" type="RetrievalFulfilmentInstructions3"/>
            <xs:element name="PrcgRslt" type="ProcessingResult23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRspnCd" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtctdData" type="ProtectedData2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType41"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RiskAssessment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPC"/>
            <xs:enumeration value="APPH"/>
            <xs:enumeration value="APPU"/>
            <xs:enumeration value="DONT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SecurityCharacteristics1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CETE"/>
            <xs:enumeration value="CPTE"/>
            <xs:enumeration value="CENC"/>
            <xs:enumeration value="CMAC"/>
            <xs:enumeration value="ETEE"/>
            <xs:enumeration value="METE"/>
            <xs:enumeration value="MPTE"/>
            <xs:enumeration value="OPNN"/>
            <xs:enumeration value="PMAC"/>
            <xs:enumeration value="PKIE"/>
            <xs:enumeration value="PRAE"/>
            <xs:enumeration value="PRAM"/>
            <xs:enumeration value="PRVN"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="APTE"/>
            <xs:enumeration value="AETE"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementService6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dfrrd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CutOffTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecialProgrammeDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecialProgrammeQualification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prgrmm" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dtl" type="SpecialProgrammeDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StorageLocation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAWL"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="ISWL"/>
            <xs:enumeration value="ONFL"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="TPWL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Terminal8">
        <xs:sequence>
            <xs:element name="Id" type="Max16Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlId" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Token2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknInittdInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StorgLctn" type="StorageLocation1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrStorgLctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcnMtd" type="ProtectionMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrPrtcnMtd" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability10">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtTmIn" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Track2Data1Choice">
        <xs:choice>
            <xs:element name="TxtVal" type="Max37Text"/>
            <xs:element name="HexBinryVal" type="Max19HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TransactionAttribute2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGGR"/>
            <xs:enumeration value="CADB"/>
            <xs:enumeration value="CPLT"/>
            <xs:enumeration value="DBRC"/>
            <xs:enumeration value="DBRP"/>
            <xs:enumeration value="DFRD"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="FRCP"/>
            <xs:enumeration value="INST"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="PAUT"/>
            <xs:enumeration value="PACP"/>
            <xs:enumeration value="PPYT"/>
            <xs:enumeration value="RCPT"/>
            <xs:enumeration value="SUBR"/>
            <xs:enumeration value="TPUP"/>
            <xs:enumeration value="UCOF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionCharacteristics3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTp" type="ISO8583TransactionTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxSubTp" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxAttr" type="TransactionAttribute2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrTxAttr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cxl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgRsn" type="ISO8583MessageReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnMsgRsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDesc" type="Max1000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification54">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LclDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsIdrTp" type="PurchaseIdentifierType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrPurchsIdrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsIdr" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclSpprt" type="LifeCycleSupport1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclId" type="Exact15Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqCnt" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnTkn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclIdMssng" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefNb" type="Max23NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrRefData" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionInitiator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="CUST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount21Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTC"/>
            <xs:enumeration value="FEEP"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="FEEA"/>
            <xs:enumeration value="CSIF"/>
            <xs:enumeration value="MXIF"/>
            <xs:enumeration value="MNIF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserInterface8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DSPU"/>
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="LOGF"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="OTHN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Wallet3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prvdr" type="PartyIdentification285"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrAcctAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DaysSncLastActvty" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Actvty" type="Max10PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvtyIntrvl" type="Frequency12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastWlltChng" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SspdCrds" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctCtry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataNtryMd" type="CardDataReading9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCardDataNtryMd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctEmailAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrRskAssmnt" type="RiskAssessment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrRskAssmntMdlVrsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrPhneScore" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrDvcScore" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrAcctScore" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
