xsd/cain.022.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Platform on 2026 Feb 19 15:14:25-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cain.022.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cain.022.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="ATICALaxProcessing">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ATICAPartyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ICCA"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="WLPR"/>
            <xs:enumeration value="PASP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AcceptorData2">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeAssgndId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmittdAdr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldAdr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizRegnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizRegnIdTp" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData18"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxRefNb" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtnrId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcquirerData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalFee4">
        <xs:sequence>
            <xs:element name="Tp" type="ISO8583FeeTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prgm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dscrptr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RateFix" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebit3Code"/>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnCcy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcncltnFctvXchgRate" type="BaseOne25Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="ATICAPartyType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Line1" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Line2" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcLctn" type="GeographicPointInDecimalDegreesText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Authority1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max50Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOne25Rate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardData17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PAN" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdPAN" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trck3" type="Max104Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANAcctRg" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANRefIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANFourLastDgts" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctSubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brnd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctFndgSrc" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgmt" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Schme" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardDataReading11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICPY"/>
            <xs:enumeration value="MGSP"/>
            <xs:enumeration value="MICR"/>
            <xs:enumeration value="MLEY"/>
            <xs:enumeration value="OCRR"/>
            <xs:enumeration value="MSIP"/>
            <xs:enumeration value="OPTC"/>
            <xs:enumeration value="RFID"/>
            <xs:enumeration value="UNSP"/>
            <xs:enumeration value="KEEN"/>
            <xs:enumeration value="CDFS"/>
            <xs:enumeration value="CDFL"/>
            <xs:enumeration value="MGST"/>
            <xs:enumeration value="NFCF"/>
            <xs:enumeration value="ICCY"/>
            <xs:enumeration value="ICCP"/>
            <xs:enumeration value="ICMG"/>
            <xs:enumeration value="ICFM"/>
            <xs:enumeration value="DCPY"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardDataReading12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNKW"/>
            <xs:enumeration value="CAMR"/>
            <xs:enumeration value="KEEN"/>
            <xs:enumeration value="ICPY"/>
            <xs:enumeration value="OPTC"/>
            <xs:enumeration value="CDFL"/>
            <xs:enumeration value="MBNK"/>
            <xs:enumeration value="TOKN"/>
            <xs:enumeration value="ICCP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardholderName2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactPersonal2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="HomePhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrPhne" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnlEmail" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizEmail" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrEmail" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HomeFax" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizFax" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="ISO2ALanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType41">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Context30">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataNtryMd" type="CardDataReading11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QRCdPresntmntMd" type="QRCodePresentmentMode2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntCtgyCd" type="ISO18245MerchantCategoryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntCtgySpcfcData" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMrchntCtgy" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrPres" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrActvtd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnspndrInittd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Trnst" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Attndd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UattnddLvlCtgy" type="Max35NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EComrc" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EComrcIndPropsd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EComrcIndApld" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EComrcData" type="ECommerceData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MOTOCd" type="MOTO2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxInitr" type="TransactionInitiator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DelydChrgs" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NoShow" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Reauthstn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReSubmissn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DelydAuthstn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LatePresntmnt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfrrdDlvry" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlShipmnt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpltPmt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlApprvlSpprtd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctyChrtcs" type="SecurityCharacteristics2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StorgLctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnOutg" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtCrdntlMrchntRltsh" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CaptrDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAntcptd" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodsAndSvcsTp" type="GoodsAndServices1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodsAndSvcsSubTp" type="GoodsAndServicesSubType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodAndSvcDlvryChanl" type="GoodAndServiceDeliveryChannel2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GoodAndSvcDlvrySchdl" type="GoodAndServiceDeliverySchedule2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RctReq" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RctTp" type="ReceiptType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RctDstn" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Credentials3">
        <xs:sequence>
            <xs:element name="Tp" type="ExternalAuthenticationMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTp" type="Max35Text"/>
            <xs:element name="Val" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Authority1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebit3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTime2">
        <xs:sequence>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DestinationData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisputeData5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Cycl" type="Exact1NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cond" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtBndlCaseRef" type="Max20Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtCaseRef" type="Max20Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrCaseRef" type="Max20Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrCaseRef" type="Max20Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DcmnttnSts" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RjctRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgbckElgblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgTxt" type="Max50Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrvlRspn" type="RetrievalResponseV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ECommerceData1">
        <xs:sequence>
            <xs:element name="Tp" type="Max35Text"/>
            <xs:element name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdFrmt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdElmt" type="EncryptedDataElement2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData2Choice">
        <xs:choice>
            <xs:element name="Binry" type="Max100KBinary"/>
            <xs:element name="HexBinry" type="Max9999HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptedDataElement2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Data" type="EncryptedData2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClearTxtFrmt" type="EncryptedDataFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrClearTxtFrmt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptedDataFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCI"/>
            <xs:enumeration value="BINF"/>
            <xs:enumeration value="EBCD"/>
            <xs:enumeration value="HEXF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ErrorDetails4">
        <xs:sequence>
            <xs:element name="ErrCd" type="ISO8583MessageErrorCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="svrtyCd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max500Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DataElmtInErr" type="Max4000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact12Text">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact15Text">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAuthenticationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMessageFunction1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalTransactorType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitution10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Email" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Phne" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrSvc" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtct" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Frequency12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="FRTN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GeographicPointInDecimalDegreesText">
        <xs:restriction base="xs:string">
            <xs:pattern value="(\+|-)?[\d]{1,3}(\.[\d]{1,8})?/(\+|-)?[\d]{1,3}(\.[\d]{1,8})?"/>
            <xs:maxLength value="27"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GoodAndServiceDeliveryChannel2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EDEL"/>
            <xs:enumeration value="PULC"/>
            <xs:enumeration value="NDEL"/>
            <xs:enumeration value="SCBA"/>
            <xs:enumeration value="SCSA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GoodAndServiceDeliverySchedule2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ONDL"/>
            <xs:enumeration value="SDDL"/>
            <xs:enumeration value="TDDL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GoodsAndServices1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="ELPH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GoodsAndServicesSubType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRCU"/>
            <xs:enumeration value="FORX"/>
            <xs:enumeration value="SECS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Header72">
        <xs:sequence>
            <xs:element name="MsgFctn" type="ExternalMessageFunction1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgChcksmInptVal" type="Max140Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracData" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO18245MerchantCategoryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583AccountIdentifierTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583ActionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583FeeTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583MessageErrorCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583MessageReasonCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583ResponseCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583TransactionTypeCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOCountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ACountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Jurisdiction2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstQlfctn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LifeCycleSupport1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTH"/>
            <xs:enumeration value="FINC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LocalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine1" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine2" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max100Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Line1" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Line2" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max100Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData10">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlCtct" type="Max512Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData18">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData20">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData21">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="CardholderName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AliasNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ocptn" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LocalAddress2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData22">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgFrmt" type="Max35Text"/>
            <xs:element name="TxDesc" type="Max2000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MOTO2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAOR"/>
            <xs:enumeration value="MOTO"/>
            <xs:enumeration value="TPOR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max104Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="104"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="10"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max11NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,15}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max19NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,19}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max200Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max23NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,23}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max512Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="5"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9999HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,9999}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginatorData2">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayeeData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FI" type="FinancialInstitution10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyTp" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdrTp" type="ISO8583AccountIdentifierTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdr" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Crdntls" type="Credentials3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctct" type="ContactPersonal2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfBirth" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AliasNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ocptn" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData21"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayerData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FI" type="FinancialInstitution10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyTp" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdrTp" type="ISO8583AccountIdentifierTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdr" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Crdntls" type="Credentials3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctct" type="ContactPersonal2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntlty" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfBirth" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfBirth" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AliasNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ocptn" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData21"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingResult30">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcTp" type="ATICAPartyType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcCtry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrcNm" type="Max35Text"/>
            <xs:element name="RspnCd" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnCd" type="ISO8583ActionCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ErrDtl" type="ErrorDetails4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProgrammeMode6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PropsdId" type="Max35Text"/>
            <xs:element name="ApldId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProtectionMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SELM"/>
            <xs:enumeration value="SNCL"/>
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="TEEN"/>
            <xs:enumeration value="TPMD"/>
            <xs:enumeration value="VTEE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PurchaseIdentifierType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUIN"/>
            <xs:enumeration value="RELO"/>
            <xs:enumeration value="INNU"/>
            <xs:enumeration value="PUID"/>
            <xs:enumeration value="RENU"/>
            <xs:enumeration value="RSNU"/>
            <xs:enumeration value="TINU"/>
            <xs:enumeration value="SUOR"/>
            <xs:enumeration value="CONU"/>
            <xs:enumeration value="FONU"/>
            <xs:enumeration value="PRNU"/>
            <xs:enumeration value="ORNU"/>
            <xs:enumeration value="CUOR"/>
            <xs:enumeration value="CUPO"/>
            <xs:enumeration value="REAG"/>
            <xs:enumeration value="TRNU"/>
            <xs:enumeration value="TREF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QRCodePresentmentMode2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CPMD"/>
            <xs:enumeration value="MPMD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReceiptType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PAPR"/>
            <xs:enumeration value="SMSM"/>
            <xs:enumeration value="URID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReceiverData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reconciliation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RetrievalResponseV04">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Hdr" type="Header72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxChrtcs" type="TransactionCharacteristics6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="OriginatorData2"/>
            <xs:element name="Acqrr" type="AcquirerData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sndr" type="SenderData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="CardData17"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvr" type="ReceiverData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="IssuerData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="DestinationData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prgrmm" type="ProgrammeMode6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="TransactionIdentification60"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDtTm" type="DateTime2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Accptr" type="AcceptorData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Txtr" type="TransactorData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Termnl" type="Terminal12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntxt" type="Context30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pyer" type="PayerData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pyee" type="PayeeData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Token5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wllt" type="Wallet4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpclPrgrmmQlfctn" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Jursdctn" type="Jurisdiction2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvc" type="SettlementService7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFee" type="AdditionalFee4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="Reconciliation5"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DsptData" type="DisputeData5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RtrvlFlfmtInstrs" type="ATICALaxProcessing"/>
            <xs:element name="PrcgRslt" type="ProcessingResult30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRspnCd" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtctdData" type="EncryptedData2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType41"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RiskAssessment1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPC"/>
            <xs:enumeration value="APPH"/>
            <xs:enumeration value="APPU"/>
            <xs:enumeration value="DONT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SecurityCharacteristics2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CETE"/>
            <xs:enumeration value="CPTE"/>
            <xs:enumeration value="CENC"/>
            <xs:enumeration value="CMAC"/>
            <xs:enumeration value="ETEE"/>
            <xs:enumeration value="METE"/>
            <xs:enumeration value="MPTE"/>
            <xs:enumeration value="OPNN"/>
            <xs:enumeration value="PMAC"/>
            <xs:enumeration value="PKIE"/>
            <xs:enumeration value="PRAE"/>
            <xs:enumeration value="PRAM"/>
            <xs:enumeration value="PRVN"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="APTE"/>
            <xs:enumeration value="AETE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SenderData1">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementService7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfrrdDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CutOffTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgNttyId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StorageLocation2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAWL"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="ISWL"/>
            <xs:enumeration value="ONFL"/>
            <xs:enumeration value="TPWL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubMerchant1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frgn" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GeogcLctn" type="GeographicPointInDecimalDegreesText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Terminal12">
        <xs:sequence>
            <xs:element name="Id" type="Max16Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Token4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRefId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Token5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknTp" type="Max3Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRefId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknInittdInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StorgLctn" type="StorageLocation2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcnMtd" type="ProtectionMethod2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonPmt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdtdChanl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknActvtnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlTkn" type="Token4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionAttribute3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGGR"/>
            <xs:enumeration value="CADB"/>
            <xs:enumeration value="CPLT"/>
            <xs:enumeration value="DBRC"/>
            <xs:enumeration value="DBRP"/>
            <xs:enumeration value="DFRD"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="FRCP"/>
            <xs:enumeration value="INST"/>
            <xs:enumeration value="PAUT"/>
            <xs:enumeration value="PACP"/>
            <xs:enumeration value="PPYT"/>
            <xs:enumeration value="RCPT"/>
            <xs:enumeration value="SUBR"/>
            <xs:enumeration value="TPUP"/>
            <xs:enumeration value="UCOF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionCharacteristics6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxTp" type="ISO8583TransactionTypeCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxSubTp" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxAttr" type="TransactionAttribute3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cxl" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbsqntTxTp" type="ISO8583TransactionTypeCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgRsn" type="ISO8583MessageReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnMsgRsn" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDesc" type="Max1000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData22"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification60">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LclDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmZone" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsIdrTp" type="PurchaseIdentifierType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PurchsIdr" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclSpprt" type="LifeCycleSupport1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclId" type="Exact15Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqNb" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntSeqCnt" type="Exact2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnTkn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclIdMssng" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcqrrRefNb" type="Max23NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrRefData" type="Max1000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionInitiator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="CUST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactorData1">
        <xs:sequence>
            <xs:element name="Tp" type="ExternalTransactorType1Code"/>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizId" type="Max15AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LclData" type="LocalData20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubMrchnt" type="SubMerchant1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Wallet4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrBizNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrLglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrAdr" type="Address4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvdrLclData" type="LocalData20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UsrAcctAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DaysSncLastActvty" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Actvty" type="Max10PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvtyIntrvl" type="Frequency12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastWlltChng" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SspdCrds" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctCtry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardDataNtryMd" type="CardDataReading12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctEmailAge" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrRskAssmnt" type="RiskAssessment1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrRskAssmntMdlVrsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrPhneScore" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrDvcScore" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrAcctScore" type="Max5PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvdrRsnCd" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrvtData" type="ATICALaxProcessing"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtlData" type="ATICALaxProcessing"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
