xsd/semt.044.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R2.4.6.1) on 2026 Mar 31 14:25:00, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.044.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.044.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="AddressType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AggregatedPenaltyAmount1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AggtdDbtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AggtdCdtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GblNetAmt" type="AmountAndDirection5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrPtyCSDAggtdAmt" type="AggregatedPenaltyAmount2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AggregatedPenaltyAmount2">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AggtdDbtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AggtdCdtAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GblNetAmt" type="AmountAndDirection5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection5">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebitCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClassificationType1Choice">
        <xs:choice>
            <xs:element name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element name="AltrnClssfctn" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Contact13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailPurp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="OtherContact1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrefrdMtd" type="PreferredContactMethod2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType28Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="ATTI"/>
            <xs:enumeration value="BRUP"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="BONU"/>
            <xs:enumeration value="EXRI"/>
            <xs:enumeration value="CAPD"/>
            <xs:enumeration value="CAPG"/>
            <xs:enumeration value="CAPI"/>
            <xs:enumeration value="DRCA"/>
            <xs:enumeration value="DVCA"/>
            <xs:enumeration value="CHAN"/>
            <xs:enumeration value="COOP"/>
            <xs:enumeration value="CLSA"/>
            <xs:enumeration value="CONS"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="DETI"/>
            <xs:enumeration value="DSCL"/>
            <xs:enumeration value="DVOP"/>
            <xs:enumeration value="DRIP"/>
            <xs:enumeration value="DRAW"/>
            <xs:enumeration value="DTCH"/>
            <xs:enumeration value="EXOF"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="MCAL"/>
            <xs:enumeration value="INCR"/>
            <xs:enumeration value="PPMT"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="PRII"/>
            <xs:enumeration value="RHDI"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="EXTM"/>
            <xs:enumeration value="MRGR"/>
            <xs:enumeration value="NOOF"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="ODLT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PARI"/>
            <xs:enumeration value="PCAL"/>
            <xs:enumeration value="PRED"/>
            <xs:enumeration value="PINK"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PDEF"/>
            <xs:enumeration value="PRIO"/>
            <xs:enumeration value="BPUT"/>
            <xs:enumeration value="REDO"/>
            <xs:enumeration value="REMK"/>
            <xs:enumeration value="BIDS"/>
            <xs:enumeration value="SPLR"/>
            <xs:enumeration value="RHTS"/>
            <xs:enumeration value="DVSC"/>
            <xs:enumeration value="SHPR"/>
            <xs:enumeration value="SMAL"/>
            <xs:enumeration value="SOFF"/>
            <xs:enumeration value="DVSE"/>
            <xs:enumeration value="SPLF"/>
            <xs:enumeration value="TREC"/>
            <xs:enumeration value="TEND"/>
            <xs:enumeration value="DLST"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="EXWA"/>
            <xs:enumeration value="WTRC"/>
            <xs:enumeration value="WRTH"/>
            <xs:enumeration value="ACCU"/>
            <xs:enumeration value="MTNG"/>
            <xs:enumeration value="INFO"/>
            <xs:enumeration value="TNDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType73Choice">
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionEventType28Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth1">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriod1Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtMnth" type="ISOYearMonth"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesTxPnltiesRpt" type="SecuritiesTransactionPenaltiesReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="TWMN"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPenaltyPartyType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSystemEventType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingReason13">
        <xs:sequence>
            <xs:element name="Cd" type="FailingReason18Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FailingReason18Choice">
        <xs:choice>
            <xs:element name="Cd" type="FailingReason5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FailingReason5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWMO"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CLAT"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CANR"/>
            <xs:enumeration value="CAIS"/>
            <xs:enumeration value="OBJT"/>
            <xs:enumeration value="AWSH"/>
            <xs:enumeration value="PHSE"/>
            <xs:enumeration value="STCD"/>
            <xs:enumeration value="DOCY"/>
            <xs:enumeration value="MLAT"/>
            <xs:enumeration value="DOCC"/>
            <xs:enumeration value="BLOC"/>
            <xs:enumeration value="CHAS"/>
            <xs:enumeration value="NEWI"/>
            <xs:enumeration value="CLAC"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="GLOB"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="NOFX"/>
            <xs:enumeration value="CMON"/>
            <xs:enumeration value="YCOL"/>
            <xs:enumeration value="COLL"/>
            <xs:enumeration value="DEPO"/>
            <xs:enumeration value="FLIM"/>
            <xs:enumeration value="INCA"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="LACK"/>
            <xs:enumeration value="LALO"/>
            <xs:enumeration value="MONY"/>
            <xs:enumeration value="NCON"/>
            <xs:enumeration value="REFS"/>
            <xs:enumeration value="SDUT"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="CYCL"/>
            <xs:enumeration value="SBLO"/>
            <xs:enumeration value="CPEC"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="IAAD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PHCK"/>
            <xs:enumeration value="BENO"/>
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CLHT"/>
            <xs:enumeration value="DENO"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="DKNY"/>
            <xs:enumeration value="FROZ"/>
            <xs:enumeration value="LAAW"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LIQU"/>
            <xs:enumeration value="PRCY"/>
            <xs:enumeration value="REGT"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="PRSY"/>
            <xs:enumeration value="CDLR"/>
            <xs:enumeration value="CSDH"/>
            <xs:enumeration value="CVAL"/>
            <xs:enumeration value="INBC"/>
            <xs:enumeration value="PATD"/>
            <xs:enumeration value="PREL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailingStatus15Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="FailingReason13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeRate3">
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency22Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification89">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketType15Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FUND"/>
            <xs:enumeration value="LMAR"/>
            <xs:enumeration value="THEO"/>
            <xs:enumeration value="VEND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max128Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MADM"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MIKS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification39">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherContact1">
        <xs:sequence>
            <xs:element name="ChanlTp" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max128Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party52Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification39"/>
            <xs:element name="PrvtId" type="PersonIdentification18"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification120Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification127Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification136">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification120Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification144">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification127Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification272">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party52Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="Contact13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Penalty4">
        <xs:sequence>
            <xs:element name="Ccy" type="ActiveCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="PtyId" type="PenaltyPartyIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyCSD" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CSDDpstry" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AggtdAmt" type="AggregatedPenaltyAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshPnltyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfCtrPties" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PnltyPerCtrPty" type="PenaltyPerCounterparty4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyAmountBreakdown1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PenaltyAmountType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PenaltyAmountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="SECU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PenaltyCalculationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="MIXE"/>
            <xs:enumeration value="SECU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PenaltyCalculationRecord1">
        <xs:sequence>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MssngRefData" type="TrueFalseIndicator"/>
            <xs:element name="FinInstrmAttrbts" type="PenaltyFinancialInstrumentIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DscntRate" type="PriceRateOrAmount4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FXData" type="ForeignExchangeRate3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubAmtPnltyBrkdwn" type="PenaltyAmountBreakdown1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyFinancialInstrumentIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SbjtToPnlties" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="ClassificationType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lqdty" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PricData" type="PriceInformation25"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FXData" type="ForeignExchangeRate3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesPnltyRateData" type="PenaltyRate1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyIdentification1">
        <xs:sequence>
            <xs:element name="MktInfrstrctrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RallcnId" type="PenaltyIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyIdentification2">
        <xs:sequence>
            <xs:element name="MktInfrstrctrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyListType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="PenaltyListType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PenaltyListType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="FWAM"/>
            <xs:enumeration value="FWIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PenaltyNetMovementRecord1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesShrtfll" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtfllValtn" type="AmountAndDirection5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradTxCond" type="TradeTransactionCondition5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfNtries" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyPartyIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PenaltyPartyType2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyPartyType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPenaltyPartyType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PenaltyPerCounterparty4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification136"/>
            <xs:element name="PtyId" type="PenaltyPartyIdentification1"/>
            <xs:element name="AggtdNetAmt" type="AmountAndDirection5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PnltyDtls" type="PenaltyRecord4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyRate1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MktId" type="MarketIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SMEGrwthMkt" type="TrueFalseIndicator"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyRecord4">
        <xs:sequence>
            <xs:element name="Id" type="PenaltyIdentification1"/>
            <xs:element name="Tp" type="PenaltyType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Inslvncy" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="PenaltyStatus2"/>
            <xs:element name="CmptdAmt" type="AmountAndDirection5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnMtd" type="PenaltyCalculationMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDays" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClctnData" type="PenaltyCalculationRecord1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdTx" type="PenaltyTransaction3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyReport1">
        <xs:sequence>
            <xs:element name="RptId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptDt" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptPrd" type="DatePeriod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frqcy" type="Frequency22Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PnltyListTp" type="PenaltyListType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdTp" type="UpdateType15Choice"/>
            <xs:element name="ActvtyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyStatus2">
        <xs:sequence>
            <xs:element name="Sts" type="PenaltyStatus2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="PenaltyStatusReason2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyStatus2Choice">
        <xs:choice>
            <xs:element name="Cd" type="PenaltyStatus2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PenaltyStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="NCOM"/>
            <xs:enumeration value="REMO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PenaltyStatusReason2">
        <xs:sequence>
            <xs:element name="Rsn" type="PenaltyStatusReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlStsRsn" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyStatusReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="PenaltyStatusReason2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PenaltyStatusReason2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UPDT"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="TECH"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="SESU"/>
            <xs:enumeration value="SEMP"/>
            <xs:enumeration value="RALO"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="NEWP"/>
            <xs:enumeration value="INTS"/>
            <xs:enumeration value="INSO"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="NOSU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PenaltyTransaction3">
        <xs:sequence>
            <xs:element name="Ref" type="TransactionIdentifications55"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefOwnr" type="PartyIdentification136"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtls" type="PenaltyTransactionRecord2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetMvmntDtls" type="PenaltyNetMovementRecord1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PenaltyTransactionRecord2">
        <xs:sequence>
            <xs:element name="SttlmTxOrCorpActnEvtTp" type="SettlementOrCorporateActionEvent27Choice"/>
            <xs:element name="SttlmDt" type="SettlementDate17Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnRltdDt" type="DateAndDateTime2Choice"/>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification144"/>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code"/>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element name="PstngQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctOwnr" type="PartyIdentification272"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstngAmt" type="AmountAndDirection5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AckdStsTmStmp" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchdStsTmStmp" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmStsFlng" type="FailingStatus15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizDayEvt" type="SystemEvent3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PenaltyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LMFP"/>
            <xs:enumeration value="SEFP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress27">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CareOf" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstBx" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Room" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnLctnNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferredContactMethod2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL"/>
            <xs:enumeration value="FAXX"/>
            <xs:enumeration value="LETT"/>
            <xs:enumeration value="CELL"/>
            <xs:enumeration value="ONLI"/>
            <xs:enumeration value="PHON"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriceInformation25">
        <xs:sequence>
            <xs:element name="Val" type="PriceRateOrAmount4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SrcOfPric" type="MarketIdentification89"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmount4Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPenaltiesReportV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptPgntn" type="Pagination1"/>
            <xs:element name="RptGnlDtls" type="PenaltyReport1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification136"/>
            <xs:element name="AcctSvcr" type="PartyIdentification136"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Pnlty" type="Penalty4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesTransactionType26Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSBK"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="MKDW"/>
            <xs:enumeration value="MKUP"/>
            <xs:enumeration value="NETT"/>
            <xs:enumeration value="NSYN"/>
            <xs:enumeration value="PAIR"/>
            <xs:enumeration value="PLAC"/>
            <xs:enumeration value="PORT"/>
            <xs:enumeration value="REAL"/>
            <xs:enumeration value="REDM"/>
            <xs:enumeration value="REPU"/>
            <xs:enumeration value="RODE"/>
            <xs:enumeration value="RVPO"/>
            <xs:enumeration value="SECB"/>
            <xs:enumeration value="SECL"/>
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="SYND"/>
            <xs:enumeration value="TBAC"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="TRPO"/>
            <xs:enumeration value="TRVO"/>
            <xs:enumeration value="TURN"/>
            <xs:enumeration value="BYIY"/>
            <xs:enumeration value="CNCB"/>
            <xs:enumeration value="OWNE"/>
            <xs:enumeration value="FCTA"/>
            <xs:enumeration value="OWNI"/>
            <xs:enumeration value="RELE"/>
            <xs:enumeration value="SBRE"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="CLAI"/>
            <xs:enumeration value="AUTO"/>
            <xs:enumeration value="SWIF"/>
            <xs:enumeration value="SWIT"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="ETFT"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="SLRE"/>
            <xs:enumeration value="INSP"/>
            <xs:enumeration value="SBBK"/>
            <xs:enumeration value="REDI"/>
            <xs:enumeration value="REBL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesTransactionType44Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesTransactionType26Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate17Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime2Choice"/>
            <xs:element name="DtCd" type="SettlementDateCode7Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementDate4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WISS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementDateCode7Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementDate4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementOrCorporateActionEvent27Choice">
        <xs:choice>
            <xs:element name="SctiesTxTp" type="SecuritiesTransactionType44Choice"/>
            <xs:element name="CorpActnEvtTp" type="CorporateActionEventType73Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemEvent3">
        <xs:sequence>
            <xs:element name="Tp" type="SystemEventType4Choice"/>
            <xs:element name="SchdldTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StartTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EndTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemEventType4Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSystemEventType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TradeTransactionCondition4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBNS"/>
            <xs:enumeration value="XBNS"/>
            <xs:enumeration value="CCPN"/>
            <xs:enumeration value="XCPN"/>
            <xs:enumeration value="CDIV"/>
            <xs:enumeration value="XDIV"/>
            <xs:enumeration value="CRTS"/>
            <xs:enumeration value="XRTS"/>
            <xs:enumeration value="CWAR"/>
            <xs:enumeration value="XWAR"/>
            <xs:enumeration value="SPCU"/>
            <xs:enumeration value="SPEX"/>
            <xs:enumeration value="GTDL"/>
            <xs:enumeration value="BCRO"/>
            <xs:enumeration value="BCRP"/>
            <xs:enumeration value="BCFD"/>
            <xs:enumeration value="BCBL"/>
            <xs:enumeration value="BCBN"/>
            <xs:enumeration value="MAPR"/>
            <xs:enumeration value="NEGO"/>
            <xs:enumeration value="NMPR"/>
            <xs:enumeration value="BCPD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionCondition5Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeTransactionCondition4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifications55">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTxIdr" type="UTIIdentifier"/>
            <xs:element name="AcctOwnrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyMktInfrstrctrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetgSvcPrvdrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnEvtId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdTxId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UTIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18}[0-9]{2}[A-Z0-9]{0,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UpdateType15Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
